### import libraries

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Initialise Random Variables

In [4]:
SEED = 123
np.random.seed(SEED)

### Load Data

In [5]:
BASE = 'D:\\ResearchDataGtx1060\\SentimentData\\Hate\\'
fin = 'eastasian_hate_test.csv'
fout_sub_train = 'eastasian_hate_sub_train.csv' #80%
fout_sub_val = 'eastasian_hate_sub_val.csv' #10%
fout_sub_test = 'eastasian_hate_sub_test.csv' #10%

In [6]:
df_in = pd.read_csv(BASE+fin, encoding='utf8')
df_in.head(5)

   label                                               text
0      1  <user> <user> the chinese are probably sprayin...
1      0  rt <user> : unpatriotic losers are tweeting ou...
2      1  <user> thus <hashtag> 2019 n co v </hashtag> i...
3      0  north korea closes borders to avoid coronaviru...
4      1  <user> this is a declaration of war . it prove...

### Split Dataset

In [9]:
df_train, df_rem = train_test_split(df_in, test_size=0.2, random_state=SEED)

In [10]:
print(len(df_train), len(df_rem))
df_train.head(5)

6236 1560

      label                                               text
6788      0  <user> <user> i can ’ t say what i want to say...
4567      1  <user> <user> trust me . as hong konger , i ca...
1283      0  i ’ ve been living in china during the corona ...
1839      1  those who like blaming <hashtag> chinese virus...
3649      1  <hashtag> china virus </hashtag> china should ...

In [11]:
df_rem.head(5)

      label                                               text
1033      1  rt <user> please stop eating my brothers and s...
1565      0  <user> <user> mass deportation using expedited...
1587      0  <user> anyone with a functioning brain knows i...
5645      1  <user> this is fake news ! the <hashtag> wuhan...
4401      0  <user> <user> <user> has the worst leadership ...

In [12]:
df_val, df_test = train_test_split(df_rem, test_size=0.5, random_state=SEED)

In [14]:
print(len(df_val), len(df_test))
df_val.head(5)

780 780

      label                                               text
2373      1  how much did the chinese pay you for this stup...
160       1  rt <user> <allcaps> leaked video </allcaps> : ...
384       0  tough place for workers <hashtag> healthcare <...
2875      1  do you believe ? <hashtag> china z is </hashta...
854       1  <user> exactly . we should name it the <hashta...

In [15]:
df_test.head(5)

      label                                               text
5294      0  with such damning evidence , the silence of <u...
1490      0  <user> <user> does <allcaps> cdc </allcaps> ha...
2355      1  <url> <hashtag> chinazi virus </hashtag> keeps...
1581      0  <user> 2 4 hrs later . unimpressed . <hashtag>...
5349      0  rt <user> make sure you are prepared with the ...

In [16]:
df_train.groupby('label').count()

       text
label
0      3120
1      3116

In [18]:
df_val.groupby('label').count()

       text
label
0       378
1       402

In [19]:
df_test.groupby('label').count()

       text
label
0       400
1       380

In [20]:
df_train.to_csv(BASE+fout_sub_train, encoding='utf8', index=None)

In [21]:
df_val.to_csv(BASE+fout_sub_val, encoding='utf8', index=None)

In [22]:
df_test.to_csv(BASE+fout_sub_test, encoding='utf8', index=None)